---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'unsafe-inline'; style-src 'self' 'unsafe-inline';
               img-src 'self'; script-src 'self' 'unsafe-inline'; font-src 'self'; connect-src 'self';"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  // Import the store to make it available to all components
  import '../store';
</script>
